<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>959024805004-7t65nsm4dfutvah9lajai5lk24o6lgv7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.959024805004-7t65nsm4dfutvah9lajai5lk24o6lgv7</string>
	<key>API_KEY</key>
	<string>AIzaSyA-aF-EBHqVUty6NIacf-x9NG8Yi7Z2XlE</string>
	<key>GCM_SENDER_ID</key>
	<string>959024805004</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ianfagundes.GymIF</string>
	<key>PROJECT_ID</key>
	<string>gymif-d2223</string>
	<key>STORAGE_BUCKET</key>
	<string>gymif-d2223.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:959024805004:ios:69ac3303914420e23737a9</string>
</dict>
</plist>